.movies-card-list {
  max-width: 100%;
  list-style-type: none;
  justify-items: center;
  padding: 0;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  grid-template-columns: repeat(3, minmax(360px, 1fr));
}

@media screen and (max-width: 1278px) {
  .movies-card-list {
    grid-template-columns: repeat(2, minmax(339px, 1fr));
    grid-row-gap: 47px;
  }
}

@media screen and (max-width: 750px) {
  .movies-card-list {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-row-gap: 39px;
  }
}

.movies-card-list__button {
  color: #000;
  background-color: #f4f4f4;
  border: none;
  font-size: 12px;
  border-radius: 6px;
  height: 36px;
  width: 100%;
  padding: 0;
  cursor: pointer;
  margin: 50px 0 80px 0;
  transition: opacity 0.5s;
}

.movies-card-list__button:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.movies-card-list__button_disable {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.movies-card-list__title {
  color: #000;
  margin: 20px auto 29% auto;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
