.promo__image {
  margin: 102px 70px 60px auto;
  height: 230px;
  max-width: 722px;
}

@media screen and (max-width: 800px) {
  .promo__image {
    margin: 140px auto 70px auto;
  }
}

@media screen and (max-width: 750px) {
  .promo__image {
    margin: 60px auto 40px auto;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    height: 230px;
  }
}
