.movies {
  max-width: 90%;
  margin: auto;
}

@media screen and (max-width: 1220px) {
  .movies {
    max-width: 95%;
  }
}

@media screen and (max-width: 340px) {
  .movies {
    max-width: 98%;
  }
}
