.footer__copyright {
  color: #000;
  font-size: 13px;
}

@media screen and (max-width: 670px) {
  .footer__copyright {
    color: #a0a0a0;
    font-size: 12px;
    grid-row: 2;
    margin-top: 30px;
    text-align: center;
  }
}
