.autorization__input {
  margin: 0px;
  border: none;
  width: 366px;
  font-size: 13px;
  font-weight: 400;
  background-color: #F4F4F4;
  border-radius: 8px;
  color: #000;
  padding: 15px 15px 15px 15px;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .autorization__input {
    width: 73vw;
  }
}

@media screen and (max-width: 320px) {
  .autorization__input {
    width: 230px;
  }
}