.not-found {
  text-align: center;
}

.not-found__heading {
  font-size: 140px;
  font-weight: 400;
  margin-top: 246px;
  margin-bottom: 40px;
}

@media screen and (max-width: 670px) {
  .not-found__heading {
    margin-top: 329px;
    font-size: 21vw;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 380px) {
  .not-found__heading {
    font-size: 80px;
    box-sizing: border-box;
  }
}

.not-found__information {
  font-size: 16px;
  margin: 0;
  margin-bottom: 185px;
}

@media screen and (max-width: 670px) {
  .not-found__information {
    font-size: 2.4vw;
  }
}

@media screen and (max-width: 500px) {
  .not-found__information {
    font-size: 12px;
  }
}

.not-found__link {
  font-size: 14px;
  color: #3456f3;
  text-decoration: none;
  transition: opacity 0.5s;
}

@media screen and (max-width: 670px) {
  .not-found__link {
    font-size: 2.1vw;
  }
}

@media screen and (max-width: 580px) {
  .not-found__link {
    font-size: 12px;
  }
}

.not-found__link:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}