.header__link {
  font-size: 12px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-right: 30px;
}

@media screen and (max-width: 670px) {
  .header__link {
    font-size: 10px;
    margin-right: 14px;
  }
}