.navmob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navmob__bar {
  background-image: url(../../images/Navigation_1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
  cursor: pointer;
  padding: 0;
  margin-right: 30px;
  transition: opacity 0.5s;
  margin-left: auto;
}

.navmob__bar:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

@media screen and (max-width: 320px) {
  .navmob__bar {
    margin-right: 14px;
  }
}

.navmob__close {
  background-image: url(../../images/Dislike_1.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border: none;
  width: 44px;
  height: 44px;
  cursor: pointer;
  padding: 0;
  margin-right: 30px;
  margin-left: auto;
  transition: opacity 0.5s;
  margin-top: 18px;
}

.navmob__close:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

@media screen and (max-width: 320px) {
  .navmob__close {
    margin-right: 14px;
  }
}

@keyframes navigation-opened {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}

@keyframes navigation-closed {
  0% {
    right: 0;
  }
  100% {
    right: -100px;
  }
}

.navmob__background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, z-index 1s, opacity 1s;
  animation: 1s ease-in-out;
}

.navmob__background_oppened {
  visibility: visible;
  z-index: 3;
  opacity: 1;
}

.navmob__menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 67.7vw;
  background-color: #fff;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, z-index 1s, opacity 1s;
  animation: navigation-closed 1s ease-in-out;
}

.navmob__menu_oppened {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  animation: navigation-opened 1s ease-in-out;
}

@media screen and (max-width: 670px) {
  .navmob__menu {
    margin-right: 14px;
    width: 100vw;
    left: 0;
  }
}

.navmob__link {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 100px;
}

.navmob__title {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  max-width: 80px;
  align-self: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  transition: opacity 0.5s;
}

.navmob__title:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.navmob__title:nth-child(3) {
  max-width: 300px;
}

.navmob__title_active {
  border-bottom: 2px solid #000;
}

.navmob__block {
  margin: auto auto 92px auto;
  text-decoration: none;
}
