.footer__heading {
  color: #a0a0a0;
  font-size: 13px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 79px;
  border-bottom: 1px solid #e8e8e8;
  font-weight: 400;
}

@media screen and (max-width: 670px) {
  .footer__heading {
    font-size: 11.8px;
    margin-bottom: 30px;
  }
}
