.profile__button {
  color: #000;
  background-color: #fff;
  border: none;
  font-size: 13px;
  cursor: pointer;
  margin-top: 210px;
  grid-column: 1/4;
  justify-items: center;
}

.profile__button:nth-child(even){
  color: #EE3465;
  margin-top: 16px;
  grid-column: 1/4;
}
