.navigation__bar {
  background-image: url(../../images/Navigation_1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border: none;
  width: 44px;
  height: 44px;
  cursor: pointer;
  padding: 0;
  margin-right: 30px;
  transition: opacity 0.5s;
}

.navigation__bar:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

@media screen and (max-width: 320px) {
  .navigation__bar {
    margin-right: 14px;
  }
}

.navigation__close {
  background-image: url(../../images/Dislike_1.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border: none;
  width: 44px;
  height: 44px;
  cursor: pointer;
  padding: 0;
  margin-right: 30px;
  margin-left: auto;
  transition: opacity 0.5s;
  margin-top: 18px;
}

.navigation__close:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

@media screen and (max-width: 320px) {
  .navigation__close {
    margin-right: 14px;
  }
}

@keyframes navigation-opened {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}

@keyframes navigation-closed {
  0% {
    right: 0;
  }
  100% {
    right: -100px;
  }
}

.navigation__menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 67.7vw;
  background-color: #fff;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, z-index 1s, opacity 1s;
  animation: navigation-closed 1s ease-in-out;
}

.navigation__menu_oppened {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  animation: navigation-opened 1s ease-in-out;
}

@media screen and (max-width: 670px) {
  .navigation__menu {
    margin-right: 14px;
    width: 100vw;
    left: 0;
  }
}

.navigation__link {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 100px;
}

.navigation__title {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  max-width: 80px;
  align-self: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  transition: opacity 0.5s;
}

.navigation__title:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.navigation__title:nth-child(3) {
  max-width: 300px;
}

.navigation__title_active {
  border-bottom: 2px solid #000;
}
