.header__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-items: start;
  align-items: baseline;
  margin-left: 44px;
}
