.about-me__menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 670px) {
  .about-me__menu {
    gap: 26px;
  }
}
