.about-me__avatar {
  width: 270px;
  height: 327px;
  object-position: center;
  object-fit: cover;
  border-radius: 10px;
  flex-basis: 270px;
}

@media screen and (max-width: 768px) {
  .about-me__avatar {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 670px) {
  .about-me__avatar {
    order: -1;
    width: 272px;
    height: 352px;
    margin: auto;
  }
}
