.header__button {
  background-color: #3456f3;
  width: 76px;
  height: 32px;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  margin-right: 70px;
}

@media screen and (max-width: 768px) {
  .header__button {
    margin-right: 30px;
  }
}

@media screen and (max-width: 670px) {
  .header__button {
    font-size: 10px;
    width: 54px;
    height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .header__button {
    margin-right: 14px;
  }
}
